.sidenav-container {
  width: 100%;
  height: calc(100% - var(--mat-toolbar-standard-height));
}

.sidenav-content {
  display: flex;
  height: 100%;
  justify-content: center;
}

.sidenav {
  padding: 20px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
