.profile-container {
  padding: 20px;
  width: 95vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5px 10px;

  .main-profile {
    width: calc(4/6 * 100% - 20px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px 10px;

    .profile-login-card {
      width: calc(2/6 * 100% - 20px);
      align-items: center;

      .profile-header-info {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .profile-header-image {
        width: 50%;
        border-radius: 50%;

      }
    }

    .profile-bio-card {
      width: calc(4/6 * 100% - 20px);

      .profile-list-item{
        height: 30px;
        .profile-list-item-icon {
          margin-right: 0.5rem;
        }
      }

      .profile-card-inf {
        width: 100%;
        display: flex;
        justify-content: space-around;
        column-gap: 2rem;
        padding: 0 1rem;
        flex-wrap: wrap;
        .profile-card-inf-item {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          align-items: center;
          color: rgba(0, 0, 0, 0.54);
          font-weight: 500;
        }
      }
    }

  }

  .side-profile {
    width: calc(2/6 * 100% - 20px);
  }

}

@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    .main-profile {
      width: 100%;
    }
    .side-profile {
      width: 100%;
    }
  }
}

@media (max-width: 650px) {
  .profile-container {
    align-items: center;
    .main-profile {
      align-content: center;
      flex-direction: column;

      .profile-login-card {
        width: 75%;
      }

      .profile-bio-card {
        width: 75%;
      }
    }
    .side-profile {
      width: 75%;
      align-content: center;
    }
  }
}
